@import './main.scss';
@import '../components/Header/Header.scss';
@import '../components/HeaderPhone/HeaderPhone.scss';
@import '../components/BurgerMenu/BurgerMenu.scss';
@import '../components/Title/Title.scss';
@import '../components/Numbers/Numbers.scss';
@import '../components/Traids/Traids.scss';
@import '../components/About/About.scss';
@import '../components/Start/Start.scss';
@import '../components/Tariffs/Tariffs.scss';
@import '../components/Faq/Faq.scss';
@import '../components/Footer/Footer.scss';