.title {
    margin: 40px 0 86px;
}

.title-wrapper {
    position: relative;
    width: 300px;
    height: 134px;
    margin-bottom: 33px;
}

.card {
    width: 176px;
    height: 104px;
    position: absolute;
    border-radius: 4px;
}

.cardGhost {
    border: 1px dashed var(--bg-purple);
    background: transparent;
    color: var(--text-color-purple);
    margin: 0 124px 30px 0;

    &::before {
        content: '';
        position: absolute;
        left: 85px;
        top: 115px;
        width: 32px;
        height: 20px;
        border-top: 1px solid var(--bg-purple);
        transform: rotate(45deg);
    }
}

.cardMain {
    margin: 30px 0 0 124px;
    background: var(--bg-purple);
    color: var(--text-color-wite);
    z-index: 2;
    box-shadow: 0 12px 40px var(--bg-dark);

    &::before {
        content: '';
        position: absolute;
        left: 45px;
        top: -20px;
        width: 32px;
        height: 20px;
        border-top: 1px solid var(--bg-purple);
        transform: rotate(45deg);
    }
}

.info {
    margin: 6px 10px;
}

.pair {
    font-size: 14px;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.type {
    font-size: 12px;
    opacity: 0.7;
    margin: 0;
}

.percent {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0 0 0;
}

.title-text {
    font-weight: 400;
    font-size: 35px;
    text-transform: uppercase;
    margin: 0;
}

.text {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color-witegrey);
    margin-top: 12px;
}

.input-blok {
    position: relative;
    max-width: 500px;
}

.input-email {
    background-color: var(--bg-email);
    width: 100%;
    height: 50px;
    border-radius: 4px;
    color: var(--text-color-witegrey);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
}

.button-start {
    position: absolute;
    background-color: var(--bg-q);
    color: var(--text-color-dark);
    border-radius: 3px;
    border: 1px solid var(--bg-q);
    width: 102px;
    height: 42px;
    right: 0;
    top: 5px;
}

.bottom-text {
    color: var(--text-color-grey);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 37px;
}

@media screen and (min-width: 1000px) {
    .title {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin: 160px auto 135px;
    }

    .ttitle-top {
        display: flex;
        flex-direction: column;
        max-width: 630px;
    }

    .input-blok {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1101px) {
    .title {
        gap: 50px;
    }
}

@media (min-width: 1350px) {
  .title-wrapper {
    width: 470px;
    height: 210px;
  }

  .card {
    width: 276px;
    height: 163px;
    border-radius: 6.3px;
  }

  .cardGhost {
    margin: 0 194px 47px 0;
  }

  .cardGhost::before {
    left: 133px;
    top: 180px;
    width: 50px;
    height: 31px;
  }

  .cardMain {
    margin: 47px 0 0 194px;
  }

  .cardMain::before {
    left: 71px;
    top: -31px;
    width: 50px;
    height: 31px;
  }

  .pair {
    font-size: 30px;
  }

  .type {
    font-size: 18px;
  }

  .percent {
    font-size: 30px;
  }
}

.slide-in {
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.slide-in--visible {
  opacity: 1;
  transform: translateX(0);
}


