.traids {
  background-color: var(--bg-dark); 
  padding: 60px 40px;
}

.traids__title {
  margin: 0 0 8px;
  color: var(--text-color-vite);
  font-size: 28px;
  font-weight: 700;
}

.traids__status {
  margin: 0 0 24px;
  color: var(--text-color-green);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.traids__dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--bg-green);
}

.traids__wrapper {
  position: relative;
  padding-bottom: 32px;
}

.traids__slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 16px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  scrollbar-width: none;
}

.traids__slider::-webkit-scrollbar {
  display: none;
}

.traids__card {
  flex: 0 0 260px;
  height: 150px;
  background: var(--bg-purple);
  background-image: url(/Trade-Blade/src/assets/bg-logo.svg);
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 4px;
  padding: 16px 18px;
  color: var(--text-color-vite);
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
}

.traids__card::before {
  content: "";
  position: absolute;
  top: 0;
  background-color: var(--bg-dark);
  right: -120px;
  width: 110px;
  height: 110px;
  transform: skewX(50deg);
}


.traids__top,
.traids__middle,
.traids__bottom {
  position: relative;
  z-index: 1;
}

.traids__top {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.traids__pair {
  font-weight: 600;
  font-size: 14px;
}

.traids__type {
  font-size: 11px;
  opacity: 0.75;
}

.traids__middle {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
}

.traids__label {
  font-size: 11px;
  opacity: 0.7;
}

.traids__profit {
  margin-top: 2px;
  font-size: 20px;
  font-weight: 700;
  color: var(--text-color-green);
}

.traids__bottom {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  opacity: 0.85;
}


.traids__date {
  white-space: nowrap;
}

.traids__track {
  position: relative;
  margin: 0 40px;
  height: 6px;
  border-radius: 999px;
  background: var(--bg-grey);
  overflow: hidden;
}

.traids__thumb {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: inherit;
  background: #6073A1;
  width: 60px;
  transform: translateX(0);
  transition: transform 0.1s linear;
}

@media (max-width: 768px) {
  .traids {
    padding: 40px 16px;
  }

  .traids__track {
    margin: 0 16px;
  }
}
