.about {
    background-color: var(--bg-vite);
    padding: 24px 16px 68px;
    position: relative;
    height: 300px;
    margin-bottom: 200px;

    &::after {
        content: "";
        position: absolute;
        top: -30px;
        right: 50%;
        width: 100%;
        height: 50px;
        background: var(--bg-vite);
        border-radius: 4px;
        transform: skewX(20deg);
    }


    @media screen and (min-width: 1101px) {
        padding: 40px 30px 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    @media screen and (min-width: 1250px) {
        padding: 56px 80px 92px;
        margin-bottom: 0;
    }
}

.about-top {
    display: flex;
    flex-direction: column;
    max-width: 420px;
}

.about-title {
    color: var(--text-color-dark);
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
}

.about-text {
    color: var(--text-color-dark);
    font-weight: 400;
    font-size: 16px;
}

.about-start {
    display: flex;
    justify-content: center;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in--visible {
  opacity: 1;
  transform: translateY(0);
}

