.about {
    background-color: var(--bg-vite);
    padding: 24px 16px 68px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: -30px;
        right: 50%;
        width: 100%;
        height: 50px;
        background: var(--bg-vite);
        border-radius: 4px;
        transform: skewX(20deg);
    }

    @media screen and (min-width: 1150px) {
        padding: 40px 30px 55px;
    }
    @media screen and (min-width: 1250px) {
        padding: 56px 80px 92px;
    }
}

.about-title {
    color: var(--text-color-dark);
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
}

.about-text {
    color: var(--text-color-dark);
    font-weight: 400;
    font-size: 16px;
}