.start {
  background-color: var(--bg-purple);
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 0 16px;
  position: absolute;
  border-radius: 8px;
  justify-content: center;

  @media (min-width: 800px) {
    padding: 25px 25px;
  }

  @media (min-width: 1101px) {
    position: static;
    width: 540px;
    margin: 0 auto;
    height: 200px;
  }

  @media (min-width: 1200px) {
    margin: 0 auto;
  }
}

.start-text {
  font-weight: 500;
  font-size: 20px;
  color: var(--text-color-vite);
  text-align: center;
}

.start-blok {
  position: relative;
  display: flex;
  flex-direction: column;
}

.start-email {
  background-color: var(--bg-email);
  color: var(--text-color-witegrey);
  height: 50px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding-left: 15px;
}

.start-button {
  height: 52px;
  background-color: var(--bg-q);
  color: var(--text-color-dark);
  border: none;
  border-radius: 4px;
  margin: 8px 0;
  text-transform: uppercase;
}

@media (min-width: 1101px) {
  .start-blok {
    flex-direction: row;
    justify-content: end;
  }

  .start-button {
    position: absolute;
    height: 52px;
    width: 165px;
    top: -5%;
    right: 1%;
  }

  .start-email {
    width: 100%;
    height: 60px;
  }
}