.body {
    background-color: var(--bg-purple);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.close {
    display: flex;
    justify-content: end;

    &__button {
        background-color: var(--bg-purple);
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        margin: 9px 8px 11px 0;

    }
}

.navigation-burger {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
    margin: 84px 16px;
    top: 0;
    position: fixed;
}

.link-burger {
    text-decoration: none;
    color: var(--text-color-wite);
    height: 17px;

    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.button-burger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin: 16px;
}

.in-burger {
    width: 100%;
    height: 52px;
    background-color: var(--bg-dark);
    color: var(--text-color-q);
    border-radius: 3px;
    box-shadow: 0px 0px 4px 0px var(--bg-q);
    background: #57E1FF33;
    border: 1.5px solid var(--bg-q);
}

.up-burger {
    width: 100%;
    height: 52px;
    background: var(--bg-q);
    border: 1px solid var(--bg-q);
    box-shadow: 0px 0px 4px 0px var(--bg-q);
}