.numbers {
    background-color: var(--bg-vite);
    padding: 24px 16px 48px;
    position: relative;

    @media screen and (min-width: 800px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }


    &::after {
        content: "";
        position: absolute;
        top: -30px;
        right: 50%;
        width: 100%;
        height: 50px;
        background: var(--bg-vite);
        border-radius: 4px;
        transform: skewX(20deg);
    }
}

.numbers-title {
    color: var(--text-color-blak);
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
}

.numbers-info {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    @media screen and (max-width: 800px) {
        margin-top: 40px;
    }
}

.numbers-text {
    color: var(--text-color-grey);
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    height: 40px;
}

.numbers-number {
    color: var(--text-color-purple);
    margin: 0;
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;
}